
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(248, 248, 248);
  color: rgb(247, 243, 243);
  font-family: 'Bitter', serif;
  padding: 0px 6rem;
}
.container {
  border: 2px solid rgb(230, 227, 227);
  border-radius: 4px;
  box-shadow: 0px 1px 6px -2px rgb(78, 76, 76);
  padding: 2rem;
  background-color: rgb(43, 94, 29);
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
h1, h2, h3, h4 {
  color: rgb(245, 250, 245);
}
h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
label {
  display: flex;
  justify-content: center;
  color:black;
}
input, select, button {
  height: 2rem;
  width: 150px;
  margin: 8px;
}
button {
  color: black;
  background-color: rgb(252, 253, 252);
  border: 1px solid rgb(12, 12, 12);

  &:disabled {
    cursor: not-allowed;
    color: darkgray;
    border-color: darkgray;
  }
}

.submit {
  display: flex;
  justify-content: space-evenly;
} 

.error-text {
  color: red;
  font-size: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d4914;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 7, 7);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
